// COLORS

$color-white: #ffffff;
$color-black: #000000;

$color-grey-dark-1: #1e1e1e;
$color-grey-dark-2: #111111;

$color-grey-light-1: #494949;
$color-grey-light-2: #838383;


:root {
    --color-primary: #1ee2ff;
    --color-secondary: #ff3e3e;
}
