.btn {
    background-color: $color-grey-dark-1;
    color: $color-white;
    border: none;
    text-decoration: none;
    cursor: pointer;

    &-primary {
        border: 1px var(--color-primary) solid;
        border-radius: 3px;
        color: var(--color-primary);
        text-transform: uppercase;
        letter-spacing: .3rem;
        font-size: 1.2rem;
        padding: .5rem 1rem;

        &:hover, &--active {
            background-color: var(--color-primary);
            color: $color-grey-light-1;
        }
    }

    &-secondary {
        border: 1px var(--color-secondary) solid;
        border-radius: 3px;
        color: var(--color-secondary);
        text-transform: uppercase;
        letter-spacing: .3rem;
        font-size: 1.2rem;
        padding: .5rem 1rem;

        &:hover, &--active {
            background-color: var(--color-secondary);
            color: $color-grey-light-1;
        }
    }

    &-work-box {
        text-decoration: none;
        background-color: $color-grey-dark-3;
        color: var(--color-secondary);
        border: 1px var(--color-secondary) solid;
        padding: .5rem 1rem;
        transition: all .2s linear;
        
        &:hover {
            background-color: var(--color-secondary);
            color: $color-grey-dark-3;
        }
    }

    &__grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2rem;
    }
}