.email-form {
    display: flex;
    flex-direction: column;
    align-items: start;

    &__label {
        color: var(--color-primary);
        padding-bottom: .3rem;
        padding-top: .6rem;
    }

    &__input {
        height: 5rem;
        border: none;
        background-color: $color-grey-dark-3;
        color: $color-grey-light-2;
        font-size: 1.6rem;
        padding: 2rem 2rem;
        margin-bottom: 2rem;
        width: 100%;

        &--text-box {
            height: 15rem;
            font-family: 'Roboto', sans-serif;
            font-size: 1.6rem;
            font-weight: 400;
        }

        &:focus {
            outline: none;
            border-bottom: 1px solid var(--color-primary);
        }

        
    }
}